
.heading{
    background-color: dodgerblue;
    color: #fff;
    padding: 10px;
    width: fit-content;
    text-align: center;
    margin: auto;
    border-radius: 8px 5px;
}

.myapp{
    max-width: 800px;
   
}

.notes-form{
    background-color: #fff;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}