.card {
  border-radius: 20px;
  position: relative;
  background-size: 100%;
}
.col:nth-child(odd) .card {
  background: linear-gradient(
    66deg,
    rgba(159, 194, 252, 1) 0%,
    rgba(170, 138, 234, 1) 100%
  );
  color: #fff;
}
.col:nth-child(even) .card{
  background-color: #feecf5;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgb(0 0 0/35%);
  cursor: pointer;
}

.title {
  border-left: 3px solid green;
  padding: 10px;
  color: dodgerblue;
}
