.card {
  border-left: 3px solid green;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgb(0 0 0/35%);
  cursor: pointer;
}

.title{
    border-left: 3px solid green; 
    padding: 10px;
    color: dodgerblue;
}