
.card {
  border-left: 3px solid green;
}
.col:nth-child(odd) .card{  
  background-color: forestgreen;
  color: #fff;
  border-left: 3px solid dodgerblue;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgb(0 0 0/35%);
  cursor: pointer;
}

.title{
    border-left: 3px solid green; 
    padding: 10px;
    color: dodgerblue;
}